.optionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.consumptionWrapper {
  margin-top: 2rem;
  height: 320px;
  width: 100%;
}
