.options-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.consumption-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 400px;
    width: 100%;
  }