.login-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    width: 80vw;
}

.button-row {
    display: flex;
    align-items: center;    
}

.button-row p {
    margin: 0 1ch 0 1ch
}