img {
    max-height: 10vh;
    max-width: 10vh;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 720px;
    width: 80vw;
}

.login-header{
    display: flex;
    justify-content: space-around;
}

.notification-margin{
    margin-top: 2ch;
}

.tibber-checkbox {
    display: flex;
    justify-content: flex-end;
    margin-top: 1ch;
}

.text-input {
    margin: 1rem 0 0 0;
}