html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  min-height: -webkit-fill-available;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;  
  justify-content: center;
  min-height: -webkit-fill-available;
}
